CantidadDivisa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="cantidad" type="TipoDeCantidad"/>
  <xsd:complexType name="TipoDeCantidad">
    <xsd:simpleContent>
      <xsd:extension base="xsd:float">
        <xsd:attribute name="Divisa" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>